header{
background-color:#FFFF77;

}
footer{
background-color:#FFFF77;
height:50px;
margin: 0px 0px 10px px;
}
ul{
background-color:#888888;
padding: 5px 0px 5px 0px;
margin: 10px 0px 5px 0px;
}
ul  li{
display:inline;
padding: 5px 5px 5px 5px;

}
#add{
float:right;

}
#delete{
float:right;
}
a img{
width:280px;
height:280px;

}
#btn{
margin:5px 5px 20px 5px;
}
table{

margin:5px 5px 160px 5px;
}
#main{
padding:10px 10px 5px 180px;
}