header{
background-color:#FFFF77;

}
footer{
background-color:#FFFF77;
height:50px;
margin: 0px 0px 10px px;
}
ul{
background-color:#888888;
padding: 5px 0px 5px 0px;
margin: 10px 0px 5px 0px;
}
ul  li{
display:inline;
padding: 5px 5px 5px 5px;

}
#tableall{
display:table;
width:100%;
margin:15px 15px 15px 0px;
}
#tablerow{
display:table-row;

}
#btn{
display:table-cell;
width:10%;
background-color:#FFEE99;
}
#content{
display:table-cell;
height:400px;
background-color:#FFDD55;
}